<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

p {
  text-align: center;
  color: #555;
}

.info {
  margin-top: 20px;
}

.info h3 {
  color: #444;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info li {
  background: #e8f0fe;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}
=======
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

p {
  text-align: center;
  color: #555;
}

.info {
  margin-top: 20px;
}

.info h3 {
  color: #444;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info li {
  background: #e8f0fe;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}
>>>>>>> 53d0daa0ead0257e6bb54528512eb56a5a650d39
